---
// 468x60 Horizontal Banner (Ideal for desktop/tablet headers or footers)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[60px]">
  <script is:inline>
    atOptions = {
      'key' : 'c58f58a4f5202c93cf0368f49307600e',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/c58f58a4f5202c93cf0368f49307600e/invoke.js"></script>
</div>
