---
// 468x60 Horizontal Banner - loaded via iframe for document.write compatibility
---
<div class="flex justify-center items-center my-4 overflow-hidden">
  <iframe src="/ads/banner468.html" width="468" height="60" frameborder="0" scrolling="no" style="border:0;overflow:hidden;background:transparent;" loading="lazy"></iframe>
</div>
