---
// 320x50 Horizontal Banner (Mobile)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[50px]">
  <script is:inline>
    atOptions = {
      'key' : '87fe1b12cb1aa3fb5ac067934fcfef69',
      'format' : 'iframe',
      'height' : 50,
      'width' : 320,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/87fe1b12cb1aa3fb5ac067934fcfef69/invoke.js"></script>
</div>
