---
// 320x50 Horizontal Banner (Ideal for Mobile screens)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[50px]">
  <iframe 
    width="320" 
    height="50" 
    frameborder="0" 
    scrolling="no" 
    srcdoc="<html><body style='margin:0;padding:0;'><script>var atOptions = { 'key' : 'c3a4d4b60f1ac9905f17d03aa3f8be07', 'format' : 'iframe', 'height' : 50, 'width' : 320, 'params' : {} };</script><script src='https://www.highperformanceformat.com/c3a4d4b60f1ac9905f17d03aa3f8be07/invoke.js'></script></body></html>"
  ></iframe>
</div>
