---
// 320x50 Horizontal Banner (Mobile)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[50px] ad-slot-320">
  <script is:inline>
    (function() {
      var slots = document.querySelectorAll('.ad-slot-320');
      var container = slots[slots.length - 1];
      if (!container || container.dataset.loaded) return;
      container.dataset.loaded = 'true';
      var s1 = document.createElement('script');
      s1.text = "var atOptions = { 'key' : 'c3a4d4b60f1ac9905f17d03aa3f8be07', 'format' : 'iframe', 'height' : 50, 'width' : 320, 'params' : {} };";
      container.appendChild(s1);
      var s2 = document.createElement('script');
      s2.src = 'https://www.highperformanceformat.com/c3a4d4b60f1ac9905f17d03aa3f8be07/invoke.js';
      container.appendChild(s2);
    })();
  </script>
</div>
