---
// 468x60 Horizontal Banner
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[60px]">
  <script is:inline>
    atOptions = {
      'key' : 'a5050d607c35ce51547e2456f108f36f',
      'format' : 'iframe',
      'height' : 60,
      'width' : 468,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/a5050d607c35ce51547e2456f108f36f/invoke.js"></script>
</div>
