---
// 728x90 Leaderboard (Ideal for top/bottom of page on desktop)
---
<div class="flex justify-center items-center my-6 overflow-hidden min-h-[90px]">
  <script is:inline>
    atOptions = {
      'key' : '6b2d57d4b459012a99894107f7417800',
      'format' : 'iframe',
      'height' : 90,
      'width' : 728,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/6b2d57d4b459012a99894107f7417800/invoke.js"></script>
</div>
