---
// 728x90 Leaderboard (Ideal for top/bottom of page on desktop)
---
<div class="flex justify-center items-center my-6 overflow-hidden min-h-[90px] ad-slot-leader">
  <script is:inline>
    (function() {
      var slots = document.querySelectorAll('.ad-slot-leader');
      var container = slots[slots.length - 1];
      if (!container || container.dataset.loaded) return;
      container.dataset.loaded = 'true';
      var s1 = document.createElement('script');
      s1.text = "var atOptions = { 'key' : '0957931cb9d38e56ea23c6719d88b415', 'format' : 'iframe', 'height' : 90, 'width' : 728, 'params' : {} };";
      container.appendChild(s1);
      var s2 = document.createElement('script');
      s2.src = 'https://www.highperformanceformat.com/0957931cb9d38e56ea23c6719d88b415/invoke.js';
      container.appendChild(s2);
    })();
  </script>
</div>
