---
// 300x250 Medium Rectangle (Ideal for in-content placements)
---
<div class="flex justify-center items-center my-6 overflow-hidden min-h-[250px]">
  <script is:inline>
    atOptions = {
      'key' : 'eccc906bdc9192b02fe947f08336ef6a',
      'format' : 'iframe',
      'height' : 250,
      'width' : 300,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/eccc906bdc9192b02fe947f08336ef6a/invoke.js"></script>
</div>
