---
// 160x300 Vertical Skyscraper (Ideal for sidebars)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[300px] min-w-[160px]">
  <script is:inline>
    atOptions = {
      'key' : 'abe3550bdcce685d43cd3623706695f2',
      'format' : 'iframe',
      'height' : 300,
      'width' : 160,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/abe3550bdcce685d43cd3623706695f2/invoke.js"></script>
</div>
