---
// 160x300 Vertical Skyscraper (Sidebar)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[300px] min-w-[160px]">
  <script is:inline>
    atOptions = {
      'key' : '8b24838427c110257f2f979ac9e8936c',
      'format' : 'iframe',
      'height' : 300,
      'width' : 160,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/8b24838427c110257f2f979ac9e8936c/invoke.js"></script>
</div>
