---
// 160x300 Vertical Skyscraper (Ideal for sidebars)
---
<div class="flex justify-center items-center my-4 overflow-hidden min-h-[300px] min-w-[160px]">
  <iframe 
    width="160" 
    height="300" 
    frameborder="0" 
    scrolling="no" 
    srcdoc="<html><body style='margin:0;padding:0;'><script>var atOptions = { 'key' : 'abe3550bdcce685d43cd3623706695f2', 'format' : 'iframe', 'height' : 300, 'width' : 160, 'params' : {} };</script><script src='https://www.highperformanceformat.com/abe3550bdcce685d43cd3623706695f2/invoke.js'></script></body></html>"
  ></iframe>
</div>
