---
// 160x600 Wide Skyscraper (Ideal for sidebar placements)
---
<div class="flex justify-center items-center my-6 overflow-hidden min-h-[600px] min-w-[160px]">
  <script is:inline>
    atOptions = {
      'key' : 'a18fb60112c31c4f67b24da91d6e5d09',
      'format' : 'iframe',
      'height' : 600,
      'width' : 160,
      'params' : {}
    };
  </script>
  <script is:inline src="https://www.highperformanceformat.com/a18fb60112c31c4f67b24da91d6e5d09/invoke.js"></script>
</div>
